@model ManagementApp.Web.ViewModel.Invoice.InvoiceDetailsViewModel
@using ManagementApp.Web.Data.Enums
@{
    ViewData["Title"] = "Edytuj dane faktury";
}

<h2>Edytuj dane faktury</h2>

<form asp-action="Update" method="post">

    <div class="row">
        <div class="col-md-4">
            <section>
                <div class="form-group">

                    <div class="form-group">
                        <label>Nr. faktury</label>
                        <input asp-for="@Model.Invoice.InvoiceNumber" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Opis</label>
                        <input asp-for="@Model.Invoice.Description" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Nr. konta</label>
                        <input asp-for="@Model.Invoice.AccountNumber" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Typ płatności</label>
                        @Html.DropDownList("PaymentType", Html.GetEnumSelectList<PaymentType>(), Model.Invoice.PaymentType)
                    </div>

                    <div class="form-group">
                        <label>Ulica</label>
                        <input asp-for="@Model.Invoice.DateOfIssue" type="date" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Brutto</label>
                        <input asp-for="@Model.Invoice.PaymentWithoutTax" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Netto</label>
                        <input asp-for="@Model.Invoice.PaymentWithTax" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Podatek</label>
                        <input asp-for="@Model.Invoice.TaxPayment" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Stawka</label>
                        <input asp-for="@Model.Invoice.TaxRate" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Klient</label>
                        <br />
                        @Html.DropDownList("Clients", Model.Clients, Model.Invoice.Client)
                    </div>

                    <div class="form-group">
                        <label>Zamówienie</label>
                        <br />
                        @Html.DropDownList("Orders", Model.Orders, Model.Invoice.Order)
                    </div>
                </div>

            </section>
        </div>
    </div>

    <div class="form-group">
        <button type="submit">Zapisz</button>
    </div>
    <div class="form-group">
        <button asp-action="Index">Cofnij</button>
    </div>
</form>
