@model IEnumerable<ManagementApp.Web.ViewModel.InvoiceViewModel>

<h2>Lista Faktur</h2>

<div class="form-group">
    <form asp-action="Create" class="form-group" method="get">
        <button type="submit">Dodaj nową fakturę</button>
    </form>
</div>

<div class="form-group">
    <form asp-controller="Invoice" asp-action="Index" method="get">
        <input type="text" name="filter" placeholder="Szukana fraza..." />
        <input type="submit" name="Search" />
    </form>
</div>
<div class="form-group">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nr. faktury
                </th>
                <th>
                    Sposób płatności
                </th>
                <th>
                    Data wystawienia
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Nr. kontra
                </th>
                <th>
                    Kwota brutto
                </th>
                <th>
                    Kwota netto
                </th>
                <th>
                    Podatek
                </th>
                <th>
                    Stawka
                </th>
                <th>
                    Edytuj
                </th>
                <th>
                    Usuń
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.PaymentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.DateOfIssue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.PaymentWithoutTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.PaymentWithTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.TaxPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => i.TaxRate)
                </td>
                <td>
                    <form asp-controller="Invoice" asp-action="Details" method="get">
                        <button type="submit" name="id" value="@i.Id">Edytuj</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Invoice" asp-action="Delete" method="post">
                        <button type="submit" name="id" value="@i.Id" onclick="return confirm('Czy napewno chcesz usunąć fakturę?')">Usuń</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>