@model ManagementApp.Web.ViewModel.Order.OrderDetailsViewModel
@using ManagementApp.Web.Data.Enums
@{
    ViewData["Title"] = "Edytuj zamówienie";
}

<h2>Edytuj zamówienie</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <div class="form-group">
                <form asp-action="Update" method="post">

                    <div class="form-group">
                        <label>Tytuł</label>
                        <input asp-for="@Model.Order.Title" class="form-control" name="Title" type="text" />
                    </div>

                    <div class="form-group">
                        <label>Opis</label>
                        <input asp-for="@Model.Order.Description" class="form-control" name="Description" type="text" />
                    </div>

                    <div class="form-group">
                        <label>Status</label>
                        <br />
                        <select class="form-control" asp-items="@Html.GetEnumSelectList<OrderStatus>()" asp-for="Order.OrderStatus"></select>
                    </div>

                    <div class="form-group">
                        <label>Priorytet</label>
                        <br />
                        <select class="form-control" asp-items="@Html.GetEnumSelectList<OrderPriority>()" asp-for="Order.OrderPriority"></select>
                    </div>

                    <div class="form-group">
                        <label>Data rozpoczęcia</label>
                        <input asp-for="@Model.Order.StartDate" class="form-control" name="StartDate" type="date" />
                    </div>

                    <div class="form-group">
                        <label>Planowana data zakończenia</label>
                        <input asp-for="@Model.Order.PlannedFinishDate" class="form-control" name="PlannedFinishDate" type="date" />
                    </div>

                    <div class="form-group">
                        <label>Faktyczna data zakończenia</label>
                        <input asp-for="@Model.Order.AcutalFinishDate" class="form-control" name="AcutalFinishDate" type="date" />
                    </div>

                    <div class="form-group">
                        <label>Pracownik</label>
                        <br />
                        <select class="form-control" asp-items="Model.Employees" asp-for="Order.Employee"></select>
                    </div>

                    <div class="form-group">
                        <label>Klient</label>
                        <br />
                        <select class="form-control" asp-items="Model.Clients" asp-for="Order.Client"></select>
                    </div>

                    <div class="form-group">
                        <label>Produkt</label>
                        <br />
                        <select  class="form-control" asp-items="Model.Products" asp-for="Order.Product"></select>
                    </div>

                    <div class="form-group">
                        <label>Protokół</label>
                        <br />
                        @if (Model.Order.Protocol != null)
                        {
                            <select class="form-control" asp-items="Model.Products" asp-for="Order.Product"></select>
                        }
                        else
                        {
                            <select class="form-control" asp-items="Model.Products"></select>
                        }
                    </div>

                    <div class="form-group">
                        <label>Faktura</label>
                        <br />
                        @if (Model.Order.Invoice != null)
                        {
                            <select class="form-control" asp-items="Model.Invoices" asp-for="Order.Invoice"></select>
                        }
                        else
                        {
                            <select class="form-control" asp-items="Model.Invoices"></select>
                        }
                    </div>

                    <button asp-action="Update" type="submit" class="form-group">Zapisz zmiany</button>
                </form>
                <form asp-action="Index" method="get" class="form-inline">
                    <button asp-action="Index">Cofnij</button>
                </form>
            </div>
        </section>
    </div>
</div>