@model IEnumerable<ManagementApp.Web.ViewModel.ProductViewModel>

<h2>Lista Produktów</h2>

<div class="form-group">
    <form asp-action="Create" class="form-group" method="get">
        <button type="submit">Dodaj nowy produkt</button>
    </form>
</div>

<div class="form-group">
    <form asp-controller="Order" asp-action="Index" method="get">
        <input type="text" name="filter" placeholder="Szukana fraza..." />
        <input type="submit" name="Search" />
    </form>
</div>
<div class="form-group">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Cena
                </th>
                <th>
                    Typ kwalifikacji
                </th>
                <th>
                    Edytuj
                </th>
                <th>
                    Usuń
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => p.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.QualificationType)
                    </td>
                    

                    <td>
                        <form asp-controller="Order" asp-action="Details" method="get">
                            <button type="submit" name="id" value="@p.Id">Edytuj</button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Order" asp-action="Delete" method="post">
                            <button type="submit" name="id" value="@p.Id" onclick="return confirm('Czy napewno chcesz usunąć produkt?')">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>